.currency-converter-container
	display: flex
	justify-content: center
	align-items: center
	width: 800px

	.currency-converter-box
		display: flex
		justify-content: center
		align-items: center
		width: 50%

		.currency-converter-input
			width: 100px
